<meta charset="utf-8">
<body class="black">
<div id="app">
    <div v-if="view === 'list'" class="plants">
        <div v-for="plant in plants" @click="startPlant(plant)">
            <span>{{plant.displayName}}</span>
            <span v-if="state.completePlants.includes(plant.name)">: 已养成</span>
        </div>
    </div>
    <div v-if="view === 'item'">
        <div class="open-list-button" @click="view = 'list'">···</div>
        <div class="plant">
            <div class="plant-status" >
                <span v-if="isFinished()">已养成</span>
                <div v-if="!state.showCompletePlantName && state.currentPlant.name">
                    <span v-if="isDie()">已枯萎</span>
                </div>
            </div>
            <span class="plant-water" v-if="!isFinished()" @click="water()">
                <img src="water_small.png" />
            </span>
            <img class="plant-image" v-if="state.showCompletePlantName || state.currentPlant.name" v-bind:src="getPlantImage()">
        </div>
    </div>
</div>
</body>

<style type="text/css">
    body {
        margin: 0;
        padding: 0;
        font-family: "Arial";
        text-align: center;
        color: white;
        background: black;
    }

    .plants {
        width: 300px;
        margin: 10px auto;
    }

    .plant-image {
        height: 100%;
    }
    .plant-status {
        position: absolute;
        left: 5px;
        bottom: 5px;
    }
    .plant-water {
        position: absolute;
        width: 50px;
        right: 10px;
        bottom: 10px;
        cursor: pointer;
    }
    .plant-water img {
        width: 100%;
    }
    .plants > div {
        padding: 10px;
        border: 2px solid #a6e22e;
        cursor: pointer;
    }

    .open-list-button {
        width: 50px;
        padding: 5px;
        position: absolute;
        cursor: pointer;
        top: 5px;
        right: 5px;
    }
</style>

<script src="static/vue2.js"></script>
<script type="text/javascript">
    // 补零函数
    function pad(n) {
        return n < 10 ? '0' + n : n;
    }

    // 获取当期日期字符串
    function getTodayStr() {
        var current = new Date();
        var year = current.getFullYear();
        var month = current.getMonth() + 1;
        var day = current.getDate();
        var hour = current.getHours();
        var minute = current.getMinutes();
        var second = current.getSeconds();
        var str = year + '-' + pad(month) + '-' + pad(day) + ' ' + pad(hour) + ':' + pad(minute) + ':' + pad(second);
        return str;
    }

    var app = new Vue({
        el: '#app',
        data: {
            view: 'item',
            plants: [
                {
                    name: 'tomato',
                    displayName: '番茄 Tomato',
                    days: 23,
                },
            ],
            state: {
                completePlants: [],
                currentPlant: {
                    name: '',
                    unWater: true,
                    growDays: 0,
                    dryDays: 0,
                },
                showCompletePlantName: undefined,
            }
        },
        methods: {
            loadState: function () {
                var state = localStorage.getItem('state');
                if (state) {
                    this.state = JSON.parse(state);
                }
            },
            saveState: function () {
                localStorage.setItem('state', JSON.stringify(this.state));
            },
            isDie: function () {
                return this.state.currentPlant.dryDays >= 5;
            },
            isFinished: function () {
                return this.state.showCompletePlantName || this.state.currentPlant.growDays >= this.state.currentPlant.totalDays;
            },
            getPlantDisplayName: function () {
                var name = this.state.showCompletePlantName ? this.state.showCompletePlantName : this.state.currentPlant.name;
                if (!name) {
                    return '';
                }
                for (let plant of this.plants) {
                    if (plant.name == name) {
                        return plant.displayName;
                    }
                }
            },
            getPlantImage: function () {
                // 已枯萎的情况直接返回枯萎的图片
                if (!this.state.showCompletePlantName && this.state.currentPlant.name && this.isDie()) {
                    return this.state.currentPlant.name + '/' + '00.png';
                }

                var name = this.state.showCompletePlantName ? this.state.showCompletePlantName : this.state.currentPlant.name;
                var days = this.state.currentPlant.growDays;
                if (this.state.showCompletePlantName) {
                    for (let plant of this.plants) {
                        if (plant.name == name) {
                            days = plant.days;
                        }
                    }
                }
                return name + '/' + pad(days) + '.png';
            },
            startPlant: function (plant) {
                this.view = 'item';

                // 已经完成, 提供临时显示的功能
                if (this.state.completePlants.includes(plant.name)) {
                    this.state.showCompletePlantName = plant.name;
                    return
                }

                // 取消显示已完成植物的模式
                this.state.showCompletePlantName = undefined;

                // 如果当前植物已经死亡或者切换了植物, 则重新开始
                if (this.state.currentPlant.name != plant.name || this.isDie()) {
                    this.state.currentPlant = {
                        name: plant.name,
                        totalDays: plant.days,
                        unWater: true,
                        growDays: 1,
                        dryDays: 0
                    };
                }
            },
            // 过了一天
            dayPass: function () {
                if (this.isFinished()) { // 植物已完成
                    return;
                }
                if (!this.state.currentPlant.name) { // 未种植植物
                    return;
                }
                if (this.isDie()) { // 植物已死亡
                    return;
                }
                if (this.state.currentPlant.unWater) { // 昨天未浇水: 增加一天的未浇水天数
                    this.state.currentPlant.dryDays++;
                }
                this.state.currentPlant.unWater = true; // 今天可以浇水了
            },
            // 浇水
            water: function () {
                this.state.currentPlant.unWater = false;
                this.state.currentPlant.growDays++;
                if (this.isFinished()) {
                    this.state.completePlants.push(this.state.currentPlant.name);
                }
            }
        },
        created: function () {
            this.loadState();
            setInterval(() => {
                this.dayPass();
            }, 10 * 1000);
        },
    });
</script>